@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Old+Sogdian&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');

html { scroll-behavior: smooth; }
:target { scroll-margin-top: 20px; }

* { margin: 0; }

body:has(> header) nav ul a:nth-child(1), body:has(> #story) nav ul a:nth-child(2),
body:has(> #faq) nav ul a:nth-child(3), body:has(> #contact) nav ul a:nth-child(4) { color: #d3002a; }

@keyframes hyperlink-Before {
    0% { transform: translateX(0%); }
    97% { transform: translateX(100%); }
    98% { transform: translateX(100%) translateY(100%); }
    99% {  transform: translateX(-100%) translateY(100%); }
    100% { transform: translateX(-100%); }
}
body {
    font-family: "Noto Sans Old Sogdian", system-ui;
    font-size: 20px;
    background: #eee;
    padding-inline: 20px;
    overflow-x: hidden;
    position: relative;

    a {
        text-decoration: none;
        color: #FF0033;
        position: relative;
        display: inline-block;
        overflow-x: clip;
        transition: 400ms;

        &:not(.button, :has(h1), .scrollTop)::before {
            content: " ";
            width: 100%;
            height: 2px;
            background: #FF0033;
            position: absolute;
            transition: inherit;
            bottom: 0;
            left: 0;
            transform: translateX(-100%);
        }
        &:hover {
            color: #d3002a;
            &::before { transform: translateX(0%); }
        }
        &.hyperlink-ani::before {
            animation-name: hyperlink-Before;
            animation-duration: 400ms;
        }
    }

    p {
        letter-spacing: .3px;
        word-spacing: 2px;
    }

    h1, h2, h3, h4, h5 {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
    }

    .button {
        display: inline-block;
        width: fit-content;
        padding: 12px 25px;
        background: #FF0033;
        transition: 200ms;
        border: solid 5px #FF0033;
        border-radius: 9em;
        cursor: pointer;

        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 800;
        color: #fff;

        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-weight: 900;
        text-transform: uppercase;
    }
    .button:hover {
        background: #d4002a;
        color: #fff;
        border: solid 5px #d4002a;
    }
    .button2 {
        background: transparent;
        color: #FF0033;
        margin-left: 15px;
    }
    .button2:hover {
        background: #FF0033;
        border: solid 5px #FF0033;
    }
}

nav {
    position: sticky;
    left: 0;
    top: 10px;
    z-index: 11;

    width: calc(100vw - 40px);
    left: -20px;
    margin: 50px 0;
    
    .navItems {
        transition: 400ms;
        width: 1600px;
        max-width: calc(100vw - 120px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-inline: auto;
        background: #fff;
        padding: 20px 40px;
        border-radius: 9em;
        z-index: +1;
    }

    ul {
        display: flex;
        gap: 20px;
    }

    a {
        color: #222;
        font-weight: 800;
        font-family: "Montserrat", sans-serif;

        i {
            color: #FF0033;
            transform: translateY(1px);
        }
    }

    .scrollTop {
        position: fixed;
        right: 20px;
        bottom: 20px;
        background: #FF0033;
        width: 60px;
        text-align: center;
        border-radius: 9em;

        i {
            font-size: 40px;
            color: #fff;
            padding: 10px;
        }
    }
}
nav.sticked > .navItems {
    background: #ffffff40;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 25px #00000010;
}

footer {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    background: #F9F9FD;
    margin-inline: -20px;
    box-shadow: 0 0 40px #00000020;
    z-index: 11;

    .someLinks, .about {
        border-bottom: solid 2px #cfcfcf;
    }
    .someLinks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 75px;
        padding: 40px 20px;
        overflow: hidden;
        box-shadow: inset 0 0 0 100vw #ffffff80;

        a {
            height: 50px;
            width: 50px;
            padding: 15px;
            font-size: 50px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            transition: 400ms;
            
            box-shadow: 0 0 0px #00000010;
            &::before { content: none; }
        }

        a:hover {
            /* transform: rotate(5deg) scale(1.05); */
            box-shadow: 0 0 20px #00000020;
        }
    }
    .main {
        max-width: 1600px;
        width: 100%;
        margin-inline: auto;

        .about {
            padding: 60px 20px;
            display: flex;
            justify-content: space-between;
            gap: 35px;

            .info {
                a {
                    color: #222;
                    font-weight: 800;
                    font-family: "Montserrat", sans-serif;
    
                    h1 { max-width: max-content; }
            
                    i {
                        color: #FF0033;
                        transform: translateY(1px);
                    }
                }
                p {
                    margin-top: 10px;
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            .stats {
                position: relative;
            
                ul {
                    list-style: none;
                    text-align: center;
            
                    display: flex;
                    justify-content: flex-end;
                    gap: 70px;
            
                    span { color: #FF0033; }
                    h2 { font-size: 50px; }
                    p { font-size: 25px; }
                }
            }
        }

        .copyright {
            text-align: center;
            padding: 20px 0;
        }
    }
}

@keyframes headerRainbowAni {
    from { filter: hue-rotate(0deg); }
    to { filter: hue-rotate(360deg); }
}
header {
    background: url(./img/header/blurry-gradient-haikei.svg);
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    margin-inline: -20px;
    z-index: 10;

    .headerInfo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -60%);

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 140px;
        margin: 0 20px;

        max-width: 1200px;
        width: 100%;

        > div > :not(h1) {
            margin-top: 20px;
        }

        img:not(.front, .behind) {
            width: auto;
            border-radius: 20px 20px 20px 9em;
            transform: rotateY(180deg);
            box-shadow: 0 0 40px #00000050;
        }

        .front, .behind {
            position: absolute;
        }
        .behind {
            z-index: -1;
        }

        p {
            color: #eee;
            font-size: 23px;
        }

        h1 {
            font-size: 48px;
            width: fit-content;
            color: #fff;
    
            span {
                font-family: inherit;
                background: linear-gradient(120deg, #21c063, #21a19a);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    &::before {
        content: " ";
        width: 200px;
        aspect-ratio: 1;
        background: #9C5A5A;
        box-shadow: 0 0 0 35px #815051, 0 0 0 70px #905456, 0 0 0 105px #9C5A5A;
        position: absolute;
        transform: rotate(45deg) translateX(-75%);
        z-index: 0;
    }

    .rainbow-box {
        --borderWidth: 10px;
        border: var(--borderWidth) solid transparent;
        border-image: linear-gradient(45deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
        animation: headerRainbowAni 20s infinite linear;
        border-image-slice: 1;

        position: absolute;
        width: calc(100% - var(--borderWidth) * 2);
        height: calc(100% - var(--borderWidth) * 2);
    }

    .torn-transition {
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        filter: drop-shadow(0 -10px 20px #00000020);
    }
}

article#intro {
    padding-top: 30px;
    max-width: 1600px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 100px;

    section {
        display: flex;
        align-items: center;
        gap: 70px;

        .img-container {
            width: 100%;
            position: relative;

            iframe, img {
                width: 100%;
                aspect-ratio: 16 / 9; 
                border: none;
                border-radius: 20px;
            }
        }


        .info-container {
            width: 100%;

            h2 {
                font-size: 50px;
                margin-bottom: 20px;
            }
        }
    }
}

article#story {
    max-width: 1600px;
    margin-inline: auto;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    > h1 {
        font-size: 50px;
        margin-bottom: 20px;

        span { color: #FF0033; }
    }

    .timeline-container {
        padding: 60px 0;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .timeline {
        display: flex;
        gap: 50px;

        > .spacer { width: 100%; }

        > .year-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;

            .year {
                border-radius: 9em;
                background: #fff;
                color: var(--wrap-color);
                width: fit-content;
                padding-inline: 20px;
                aspect-ratio: 1;
                position: relative;
                
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .year::before, .year::after {
                content: " ";
                width: 15px;
                aspect-ratio: 1;
                position: absolute;
                right: 120%;

                background: var(--wrap-color);
                border-radius: 9em;
            }
            .year::after { left: 120%; }

            .paragraph {
                display: flex;
                align-items: center;
                gap: 30px;
                flex-direction: row-reverse;

                position: relative;
                background: #fff;
                padding: 20px 30px;
                border-radius: 20px;
                width: calc(100% - 70px);

                i { 
                    font-size: 45px;
                    color: var(--wrap-color);
                }

                .text {
                    h3 {
                        color: var(--wrap-color);
                        margin-bottom: 10px;
                    }
                    p { font-size: 16px; }
                    p:has(~ a, ~ h3, ~ .readmoretext) { margin-bottom: 20px; }
    
                    a { 
                        cursor: pointer;
                        font-size: 18px;
                    }
                    .readmoretext { display: none; }

                    a { 
                        color: var(--wrap-color);
                        font-size: inherit;
                    }
                    a::before { background: var(--wrap-color); }
                }

            }
            .paragraph::before {
                content: " ";
                position: absolute;
                width: calc(100% + 10px);
                height: calc(100% + 10px);
                left: -5px;

                z-index: -1;
                border-radius: 24px;
                background: linear-gradient(to right, var(--wrap-color) 20%, transparent 0%, 80%, var(--wrap-color) 0%);
            }
        }
    }
    .timeline ~ .timeline .year-container { transform: translateY(-0%); }

    .timeline:nth-child(odd) {
        flex-direction: row-reverse;

        .paragraph { flex-direction: row; }
    }
}

article#faq {
    margin-top: 100px;
    max-width: 1200px;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;


    > h1 {
        font-size: 50px;
        text-align: center;
    }
    > p {
        font-size: 25px;
        text-align: center;
    }

    .questions {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
        width: 100%;

        .question {
            width: 100%;
            max-width: 100%;
            padding: 40px 120px;
            position: relative;
            overflow: hidden;

            box-shadow: 0 0 20px #00000020;
            border: solid 2px #ccc;
            background: #fff;
            cursor: pointer;
            border-radius: 20px;
            transition: 400ms;

            height: max-content;
            max-height: 700px;

            h2 {
                position: relative;

                .open {
                    position: absolute;
                    left: -75px;
                    width: 40px;
                    aspect-ratio: 1;
                    display: inline-block;
                    background: #FF0033;
                    border-radius: 9em;

                    &::before, &::after {
                        content: " ";
                        position: absolute;
                        width: 20px;
                        height: 4px;
                        border-radius: 9em;
                        background: #fff;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        transition: 200ms;
                    }
                    &::after { transform: translate(-50%, -50%) rotate(0deg); }
                }

            }

            p {
                margin-top: 35px;
                transform: translateY(0px);
                transition: inherit;
            }

            img {
                border-radius: 20px;
            }

            &.closed { 
                max-height: 37px !important;

                h2 .open::after { transform: translate(-50%, -50%) rotate(90deg); }
                p { transform: translateY(100px); }
            }
        }
    }
}

body:has(article#contact) {
    background: linear-gradient(to bottom, #eee 50%, 0, #f5f5f5);

    .triangle {
        position: absolute;
        top: calc(50% - 22.7vh);
        left: 0;
        border-left: solid 100vw transparent;
        border-bottom: solid 20vh #f5f5f5;
        z-index: -1;
    }
}
article#contact {
    margin-top: 100px;
    max-width: 1000px;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;


    h1 {
        font-size: 50px;
        text-align: center;
    }
    > p {
        font-size: 25px;
        text-align: center;
        max-width: 650px;
    }
    a {
        font-size: 22px;
        color: #222;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        overflow: visible;

        i {
            color: #fff;
            background: #FF0033;
            box-shadow: 0 15px 30px -10px #FF0033;
            padding: 10px;
            border-radius: 9em;
            margin-right: 15px;
            transition: 200ms ease-in;
        }

        &:hover i {
            transform: scale(.98);
            box-shadow: 0 12px 30px -11px #FF0033;
        }
        &::before { content: none; }
    }

    .form-container {
        margin: 50px 0;
        width: 70%;
        position: relative;
        display: flex;
        align-items: center;

        .shapes {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            > i {
                color: #FF0033;
                font-size: 60px;
                position: absolute;
            }
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            background: #fff;
            padding: 60px;
            border-radius: 40px;
            z-index: +1;
            box-shadow: 0 0 20px #00000020;
            position: relative;
    
    
            label {
                span { color: #FF0033; }
            }
            input, textarea {
                display: block;
                font-size: 22px;
                font-family: "Noto Sans Old Sogdian", system-ui;
                border: none;
                border-bottom: solid 1px #ddd;
                background: none;
                padding: 15px 0;
                width: 100%;
                margin-bottom: 50px;
                transition: 200ms;
            }
    
            textarea:focus, input:focus{ 
                outline: none;
                border-color: #ff0033;
            }
    
            textarea {
                min-height: 80px;
            }
    
            .submit-container {
                margin-top: 10px;
                display: flex;
                justify-content: left;
                gap: 10px;
            }
        }
    }
}

@media (max-width: 1500px) {
}
@media (max-width: 1120px) {
    header .headerInfo { margin: 0; text-align: center; }
    header :is(img, .behind, .front), .scrollTop { display: none; }

    #intro section { flex-direction: column; }
    #intro section:nth-child(even) { flex-direction: column-reverse; }

    #story .timeline-container { gap: 70px; }
    #story .timeline-container .spacer { display: none; }
}
@media (max-width: 800px) {
    footer .about {
        flex-wrap: wrap;
        justify-content: center !important;
        text-align: center !important;

        .stats ul { 
            flex-wrap: wrap;
            justify-content: center !important;
            transform: translateX(-20px);
        }
    }
    nav ul, nav .navItems { flex-wrap: wrap; gap: 25px; justify-content: center; }

    #story .timeline-container i { display: none; }

    #contact .form-container {
        width: 100% !important;

        .shapes { display: none; }
    }
}
@media (max-width: 600px) {
    .navItems, .navItems ul {
        border-radius: 20px !important;
        text-align: center;
    }
    nav { position: static; }
}